@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.
change 1 from github
change 2 from github
    change 3 from guthub master
    change4 from github master
    
    change1 from feature3 github

    change2 from feature3 code
</p>
